@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 62.5% of 16px browser font size is 10px */
}

html,
body {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/*
a {
  text-decoration: none;
  &:visited,
  :focus {
    text-decoration: none;
    color: $dark_grayish_blue;
  }
  &:hover {
    color: $soft_red;
  }
}
*/
button {
  background: none;
  border: none;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
  background-color: hsl(0deg, 0%, 100%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 535px 3960px 750px);
}
@media screen and (min-width: 960px) {
  body {
    grid-template-rows: repeat(3, 800px 2580px 900px);
  }
}

h1,
h2,
h3,
a,
figcaption {
  font-family: "Fraunces", sans-serif;
  color: hsl(212deg, 27%, 19%);
}

header {
  background-image: url(/images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 960px) {
  header {
    background-image: url(/images/desktop/image-header.jpg);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

.logo {
  margin: 3rem 0 0 2rem;
}

h1 {
  color: hsl(0deg, 0%, 100%);
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  text-align: center;
  max-width: 30rem;
  margin: auto;
  margin-top: 9.5rem;
}
@media screen and (min-width: 960px) {
  h1 {
    grid-area: 2/1/span 3/span 2;
    margin-top: 0;
    max-width: 100%;
    font-size: 4.5rem;
  }
}

.menu {
  background-color: white;
  width: 33rem;
  padding: 3rem;
  text-align: center;
  position: fixed;
  right: 2.3rem;
  top: 10.5rem;
}
.menu :after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 0;
  border-bottom: 20px solid white;
  border-left: 20px solid transparent;
}
@media screen and (min-width: 960px) {
  .menu {
    width: 100%;
    background: none;
    position: relative;
    right: 0;
    top: 0;
  }
  .menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

button {
  display: inline-block;
  position: fixed;
  right: 2.3rem;
  top: 3rem;
}
@media screen and (min-width: 960px) {
  button {
    display: none;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 310px 440px 310px 440px 600px 600px 1260px);
}
@media screen and (min-width: 960px) {
  main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 600px);
  }
}

.image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.egg {
  background-image: url(/images/mobile/image-transform.jpg);
}
@media screen and (min-width: 960px) {
  .egg {
    background-image: url(/images/desktop/image-transform.jpg);
    grid-column: 2/3;
    grid-row: 1;
  }
}

.cup {
  background-image: url(/images/mobile/image-stand-out.jpg);
}
@media screen and (min-width: 960px) {
  .cup {
    background-image: url(/images/desktop/image-stand-out.jpg);
  }
}

.cherries {
  background-image: url(/images/mobile/image-graphic-design.jpg);
  background-position: center top;
}
@media screen and (min-width: 960px) {
  .cherries {
    background-image: url(/images/desktop/image-graphic-design.jpg);
  }
}

.orange {
  background-image: url(/images/mobile/image-photography.jpg);
  background-position: center top;
}
@media screen and (min-width: 960px) {
  .orange {
    background-image: url(/images/desktop/image-photography.jpg);
  }
}

@media screen and (min-width: 960px) {
  .testimonials {
    grid-area: 4/1/span 2/span 2;
  }
}

footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 375px);
}
@media screen and (min-width: 960px) {
  footer {
    grid-template-rows: repeat(2, 450px);
  }
}

.footerbanner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
@media screen and (min-width: 640px) {
  .footerbanner {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

.gallery_image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.milkbottles {
  background-image: url(/images/mobile/image-gallery-milkbottles.jpg);
}
@media screen and (min-width: 640px) {
  .milkbottles {
    background-image: url(/images/desktop/image-gallery-milkbottles.jpg);
  }
}

.oneorange {
  background-image: url(/images/mobile/image-gallery-orange.jpg);
}
@media screen and (min-width: 640px) {
  .oneorange {
    background-image: url(/images/desktop/image-gallery-orange.jpg);
  }
}

.cone {
  background-image: url(/images/mobile/image-gallery-cone.jpg);
}
@media screen and (min-width: 640px) {
  .cone {
    background-image: url(/images/desktop/image-gallery-cone.jpg);
  }
}

.sugarcubes {
  background-image: url(/images/mobile/image-gallery-sugar-cubes.jpg);
}
@media screen and (min-width: 640px) {
  .sugarcubes {
    background-image: url(/images/desktop/image-gallery-sugarcubes.jpg);
  }
}

.footercontent {
  border: solid 2px darkgrey;
}

.attribution {
  border: solid darkgrey 2px;
}/*# sourceMappingURL=style.css.map */