// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
// VARIABLES
// Colors
// primary colors
$soft_red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$light_yellow: lighten($yellow, 25%);
$light_bleu: hsl(200, 100%, 62%);
$hover_light_blue: lighten($light_bleu, 15%);
$dark_desaturated_cyan: hsl(167, 40%, 24%); // graphic design text
$dark_blue: hsl(198, 62%, 26%); // photography text
$dark_moderate_cyan: hsl(168, 34%, 41%); // footer
// neutral colors
$very_dark_desaturated_blue: hsl(212, 27%, 19%);
$very_dark_grayish_blue: hsl(213, 9%, 39%);
$dark_grayish_blue: hsl(232, 10%, 55%);
$grayish_blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
// Typography
// font-family
$ff_barlow: "Barlow", sans-serif;
$ff_fraunces: "Fraunces", sans-serif;
// font-weight
$fw_semiBold: 600;
$fw_bold: 700;
$fw_black: 900;
// font-size
$fs_bodyCopy: 1.8rem;
// Breakpoints
$mobile: 640px;
$tablet: 768px;
$xl_tablet: 960px;
$desktop: 1024px;
// RESET
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 62.5% of 16px browser font size is 10px */
}

html,
body {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
/*
a {
  text-decoration: none;
  &:visited,
  :focus {
    text-decoration: none;
    color: $dark_grayish_blue;
  }
  &:hover {
    color: $soft_red;
  }
}
*/

button {
  background: none;
  border: none;
}
// STYLES
body {
  font-family: $ff_barlow;
  font-size: $fs_bodyCopy;
  background-color: $white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 535px 3960px 750px);
  @media screen and (min-width: $xl_tablet) {
    grid-template-rows: repeat(3, 800px 2580px 900px);
  }
}

h1,
h2,
h3,
a,
figcaption {
  font-family: $ff_fraunces;
  color: $very_dark_desaturated_blue;
}

header {
  background-image: url(/images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media screen and (min-width: $xl_tablet) {
    background-image: url(/images/desktop/image-header.jpg);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

.logo {
  margin: 3rem 0 0 2rem;
}

h1 {
  color: $white;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  text-align: center;
  max-width: 30rem;
  margin: auto;
  margin-top: 9.5rem;
  @media screen and (min-width: $xl_tablet) {
    // This item will start on row 2 and column 1,and span 2 rows and 2 columns:
    grid-area: 2 / 1 / span 3 / span 2;
    margin-top: 0;
    max-width: 100%;
    font-size: 5rem;
  }
}

.scroll_down_arrow {
  margin: auto;
  margin-top: 5.5rem;
  @media screen and (min-width: $xl_tablet) {
    // This item will start on row 2 and column 1,and span 2 rows and 2 columns:
    grid-area: 3 / 1 / span 2 / span 2;
    margin-top: -3.5rem;
  }
}

.menu {
  display: none; /* Toggle this on and off in JS */
  background-color: white;
  width: 33rem;
  padding: 5rem;
  text-align: center;
  position: fixed;
  right: 2.3rem;
  top: 9.5rem;
  :after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 0;
    border-bottom: 20px solid white;
    border-left: 20px solid transparent;
  }
  @media screen and (min-width: $xl_tablet) {
    display: block;
    width: 100%;
    background: none;
    position: relative;
    right: 0;
    top: 0;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    @media screen and (min-width: $xl_tablet) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  a {
    color: $dark_grayish_blue;
    font-family: $ff_barlow;
    cursor: pointer;
    &:hover {
      color: $grayish_blue;
      @media screen and (min-width: $xl_tablet) {
        color: $yellow;
      }
    }
    @media screen and (min-width: $xl_tablet) {
      color: $white;
    }
  }
  .contact {
    background: $yellow;
    padding: 1.6rem 2.5rem;
    border-radius: 30px;
    color: $very_dark_desaturated_blue;
    text-transform: uppercase;
    font-family: $ff_fraunces;
    font-size: 1.6rem;
    &:hover {
      background-color: $light_yellow;
      color: $dark_grayish_blue;
      @media screen and (min-width: $xl_tablet) {
        background-color: $hover_light_blue;
        color: $white;
      }
    }
    @media screen and (min-width: $xl_tablet) {
      background: $white;
    }
  }
}

button {
  display: inline-block;
  position: fixed;
  right: 2.3rem;
  top: 3rem;
  cursor: pointer;
  @media screen and (min-width: $xl_tablet) {
    display: none;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 310px 440px 310px 440px 600px 600px 1260px);
  @media screen and (min-width: $xl_tablet) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 600px);
  }
}

.image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.egg {
  background-image: url(/images/mobile/image-transform.jpg);
  @media screen and (min-width: $xl_tablet) {
    background-image: url(/images/desktop/image-transform.jpg);
    grid-column: 2 / 3;
    grid-row: 1;
  }
}

.cup {
  background-image: url(/images/mobile/image-stand-out.jpg);
  @media screen and (min-width: $xl_tablet) {
    background-image: url(/images/desktop/image-stand-out.jpg);
  }
}

.cherries {
  background-image: url(/images/mobile/image-graphic-design.jpg);
  background-position: center top;
  @media screen and (min-width: $xl_tablet) {
    background-image: url(/images/desktop/image-graphic-design.jpg);
  }
}

.orange {
  background-image: url(/images/mobile/image-photography.jpg);
  background-position: center top;
  @media screen and (min-width: $xl_tablet) {
    background-image: url(/images/desktop/image-photography.jpg);
  }
}

.testimonials {
  @media screen and (min-width: $xl_tablet) {
    // This item will start on row 4 and column 1, and span 2 rows and 2 columns:
    grid-area: 4 / 1 / span 2 / span 2;
  }
}

footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 375px);
  @media screen and (min-width: $xl_tablet) {
    grid-template-rows: repeat(2, 450px);
  }
}

.footerbanner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  @media screen and (min-width: $mobile) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

// Footerbanner Gallery
.gallery_image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.milkbottles {
  background-image: url(/images/mobile/image-gallery-milkbottles.jpg);
  @media screen and (min-width: $mobile) {
    background-image: url(/images/desktop/image-gallery-milkbottles.jpg);
  }
}

.oneorange {
  background-image: url(/images/mobile/image-gallery-orange.jpg);
  @media screen and (min-width: $mobile) {
    background-image: url(/images/desktop/image-gallery-orange.jpg);
  }
}

.cone {
  background-image: url(/images/mobile/image-gallery-cone.jpg);
  @media screen and (min-width: $mobile) {
    background-image: url(/images/desktop/image-gallery-cone.jpg);
  }
}

.sugarcubes {
  background-image: url(/images/mobile/image-gallery-sugar-cubes.jpg);
  @media screen and (min-width: $mobile) {
    background-image: url(/images/desktop/image-gallery-sugarcubes.jpg);
  }
}

.footercontent {
  border: solid 2px darkgrey;
}

.attribution {
  border: solid darkgrey 2px;
}
