// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
// VARIABLES
// Colors
// primary colors
$soft_red: hsl(7, 99%, 70%);
$ultra_light_red: lighten($soft_red, 20%);
$yellow: hsl(51, 100%, 49%);
$light_yellow: lighten($yellow, 25%);
$ultra_light_yellow: lighten($yellow, 35%);
$light_bleu: hsl(200, 100%, 62%);
$hover_light_blue: lighten($light_bleu, 15%);
$dark_desaturated_cyan: hsl(167, 40%, 24%); // graphic design text
$dark_blue: hsl(198, 62%, 26%); // photography text
$dark_moderate_cyan: hsl(168, 34%, 41%); // footer
$mint_green: hsl(165, 45%, 74%);
// neutral colors
$very_dark_desaturated_blue: hsl(212, 27%, 19%);
$very_dark_grayish_blue: hsl(213, 9%, 39%);
$dark_grayish_blue: hsl(232, 10%, 55%);
$grayish_blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
// Typography
// font-family
$ff_barlow: "Barlow", sans-serif;
$ff_fraunces: "Fraunces", sans-serif;
// font-weight
$fw_semiBold: 600;
$fw_bold: 700;
$fw_black: 900;
// font-size
$fs_bodyCopy: 1.8rem;
// Breakpoints
$mobile: 640px;
$tablet: 768px;
$xl_tablet: 960px;
$desktop: 1024px;
// RESET
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 62.5% of 16px browser font size is 10px */
}

html,
body {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
/*
a {
  text-decoration: none;
  &:visited,
  :focus {
    text-decoration: none;
    color: $dark_grayish_blue;
  }
  &:hover {
    color: $soft_red;
  }
}
*/

button {
  background: none;
  border: none;
}
// STYLES
body {
  font-family: $ff_barlow;
  font-size: $fs_bodyCopy;
  background-color: $white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 535px 3960px 750px);
  @media screen and (min-width: $xl_tablet) {
    grid-template-rows: repeat(3, 800px 2580px 900px);
  }
}

h1,
h2,
h3,
a,
figcaption {
  font-family: $ff_fraunces;
  color: $very_dark_desaturated_blue;
}

header {
  background-image: url(/images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media screen and (min-width: $xl_tablet) {
    background-image: url(/images/desktop/image-header.jpg);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

.logo {
  margin: 3rem 0 0 2.3rem;
  @media screen and (min-width: $xl_tablet) {
    margin: 5rem;
  }
}

h1 {
  color: $white;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  text-align: center;
  max-width: 30rem;
  margin: auto;
  margin-top: 9.5rem;
  @media screen and (min-width: $xl_tablet) {
    // This item will start on row 2 and column 1,and span 2 rows and 2 columns:
    grid-area: 2 / 1 / span 3 / span 2;
    margin-top: 0;
    max-width: 100%;
    font-size: 5rem;
  }
}

.scroll_down_arrow {
  margin: auto;
  margin-top: 5.5rem;
  @media screen and (min-width: $xl_tablet) {
    // This item will start on row 2 and column 1,and span 2 rows and 2 columns:
    grid-area: 3 / 1 / span 2 / span 2;
    margin-top: -3.5rem;
  }
}

// ANIMATED SCROLL DOWN ARROW
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.menu {
  z-index: 1;
  display: none; /* Toggle this on and off in JS */
  background-color: white;
  width: 33rem;
  padding: 5rem;
  text-align: center;
  position: fixed;
  right: 2.3rem;
  top: 9.5rem;
  :after {
    content: "";
    position: absolute;
    bottom: 100%;
    right: 0;
    border-bottom: 20px solid white;
    border-left: 20px solid transparent;
  }
  @media screen and (min-width: $xl_tablet) {
    display: block;
    width: 100%;
    background: none;
    position: relative;
    right: 0;
    top: 0;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    @media screen and (min-width: $xl_tablet) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  a {
    color: $dark_grayish_blue;
    font-family: $ff_barlow;
    cursor: pointer;
    &:hover {
      color: $grayish_blue;
      @media screen and (min-width: $xl_tablet) {
        color: $yellow;
      }
    }
    @media screen and (min-width: $xl_tablet) {
      color: $white;
    }
  }

  .contact {
    background: $yellow;
    padding: 1.6rem 2.5rem;
    border-radius: 30px;
    color: $very_dark_desaturated_blue;
    text-transform: uppercase;
    font-family: $ff_fraunces;
    font-size: 1.6rem;
    &:hover {
      background-color: $light_yellow;
      color: $dark_grayish_blue;
      @media screen and (min-width: $xl_tablet) {
        background-color: $hover_light_blue;
        color: $white;
      }
    }
    @media screen and (min-width: $xl_tablet) {
      background: $white;
    }
  }
}

.showMenu {
  display: block; /* Toggle this on and off in JS */
}

button {
  display: inline-block;
  position: fixed;
  right: 2.3rem;
  top: 3rem;
  cursor: pointer;
  @media screen and (min-width: $xl_tablet) {
    display: none;
  }
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 310px 440px 310px 440px 600px 600px 1260px);
  @media screen and (min-width: $xl_tablet) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 600px);
  }
}

.image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.egg {
  background-image: url(/images/mobile/image-transform.jpg);
  @media screen and (min-width: $xl_tablet) {
    background-image: url(/images/desktop/image-transform.jpg);
    grid-column: 2 / 3;
    grid-row: 1;
  }
}

.cup {
  background-image: url(/images/mobile/image-stand-out.jpg);
  @media screen and (min-width: $xl_tablet) {
    background-image: url(/images/desktop/image-stand-out.jpg);
  }
}

.cherries,
.orange {
  text-align: center;
  h2 {
    padding-top: 40rem;
    font-size: 2.25rem;
    font-weight: $fw_bold;
    @media screen and (min-width: $mobile) {
      font-size: 3rem;
    }
  }
  p {
    max-width: 34rem;
    margin: 0 auto;
    font-size: 1.6rem;
    padding-top: 3rem;
    line-height: 1.6;
  }
}

.cherries {
  color: $dark_desaturated_cyan;
  background-image: url(/images/mobile/image-graphic-design.jpg);
  background-position: center top;
  @media screen and (min-width: $xl_tablet) {
    background-image: url(/images/desktop/image-graphic-design.jpg);
  }
}

.orange {
  color: $dark_blue;
  background-image: url(/images/mobile/image-photography.jpg);
  background-position: center top;
  @media screen and (min-width: $xl_tablet) {
    background-image: url(/images/desktop/image-photography.jpg);
  }
}

.brand,
.audience {
  margin: 0 auto;
  text-align: center;
  @media screen and (min-width: $xl_tablet) {
    text-align: left;
    margin: auto;
  }
  h2 {
    padding-top: 7rem;
    font-weight: $fw_black;
    max-width: 24rem;
    margin: 0 auto;
    @media screen and (min-width: $mobile) {
      font-size: 3.5rem;
      max-width: 38rem;
    }
    @media screen and (min-width: $xl_tablet) {
      padding-top: 0;
      margin: 0;
    }
  }
  p {
    padding: 4rem 0 3.8rem 0;
    font-size: 1.6rem;
    color: $dark_grayish_blue;
    line-height: 1.6;
    max-width: 28.5rem;
    margin: 0 auto;
    @media screen and (min-width: $mobile) {
      font-size: 2rem;
      max-width: 50rem;
    }
  }
  a {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: $fw_bold;
    @media screen and (min-width: $xl_tablet) {
      font-size: 1.6rem;
    }
  }
}

// Text Underline Marker Style
mark {
  display: inline-block;
  line-height: 0em;
  padding: 0 0.5em 0.6em 0.5em;
  border-radius: 5px;
}

.yellow {
  background-color: $ultra_light_yellow;
  &:hover {
    background-color: pink;
  }
}

.red {
  background-color: $ultra_light_red;
}

.yellow_underline:hover mark {
  background-color: $yellow;
}

.red_underline:hover mark {
  background-color: $soft_red;
}

.testimonials {
  text-align: center;
  @media screen and (min-width: $xl_tablet) {
    // This item will start on row 4 and column 1, and span 2 rows and 2 columns:
    grid-area: 4 / 1 / span 2 / span 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 26rem 1fr;
  }
  h2 {
    color: $grayish_blue;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: $fw_black;
    letter-spacing: 0.5rem;
    padding-top: 6.5rem;
    @media screen and (min-width: $xl_tablet) {
      // This item will start on row 1 and column 1, and span 1 rows and 3 columns:
      grid-area: 1 / 1 / span 1 / span 3;
      padding-top: 0;
      margin: auto;
    }
  }
}

figure {
  padding-top: 6.5rem;
  @media screen and (min-width: $xl_tablet) {
    padding-top: 0;
  }
  img {
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin: 0 auto;
  }
  blockquote {
    color: $very_dark_grayish_blue;
    line-height: 1.6;
    max-width: 33rem;
    margin: 0 auto;
    padding-top: 4rem;
  }
  figcaption {
    padding-top: 4.5rem;
    display: flex;
    flex-direction: column;
    font-weight: $fw_black;
    span {
      font-family: $ff_barlow;
      font-size: 1.5rem;
      color: $grayish_blue;
      padding-top: 1rem;
    }
  }
}

footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 375px);
  @media screen and (min-width: $xl_tablet) {
    grid-template-rows: repeat(2, 450px);
  }
}

.footerbanner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  @media screen and (min-width: $mobile) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

// Footerbanner Gallery
.gallery_image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.milkbottles {
  background-image: url(/images/mobile/image-gallery-milkbottles.jpg);
  @media screen and (min-width: $mobile) {
    background-image: url(/images/desktop/image-gallery-milkbottles.jpg);
  }
}

.oneorange {
  background-image: url(/images/mobile/image-gallery-orange.jpg);
  @media screen and (min-width: $mobile) {
    background-image: url(/images/desktop/image-gallery-orange.jpg);
  }
}

.cone {
  background-image: url(/images/mobile/image-gallery-cone.jpg);
  @media screen and (min-width: $mobile) {
    background-image: url(/images/desktop/image-gallery-cone.jpg);
  }
}

.sugarcubes {
  background-image: url(/images/mobile/image-gallery-sugar-cubes.jpg);
  @media screen and (min-width: $mobile) {
    background-image: url(/images/desktop/image-gallery-sugarcubes.jpg);
  }
}

footer {
  background-color: $mint_green;
}

.footercontent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 7rem;
}

.footercontent > section > ul {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  li {
    align-self: center;
    a {
      font-family: $ff_barlow;
      color: $dark_moderate_cyan;
    }
  }
}

.footercontent > section > .social_media {
  gap: 2rem;
}

.attribution {
  font-size: 1.6rem;
  color: $dark_moderate_cyan;
  a {
    color: $soft_red;
  }
}
