header,
section {
  border: dotted gray 2px;
  margin-bottom: 5px;
  width: 100%;
}

.egg,
.cup {
  width: 100%;
  height: 200px;
  border: solid black 2px;
  margin-bottom: 5px;
}

.footerbanner {
  width: 100%;
  height: 100px;
  border: solid black 2px;
}
