// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
// VARIABLES
// Colors
// primary colors
$soft_red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark_desaturated_cyan: hsl(167, 40%, 24%); // graphic design text
$dark_blue: hsl(198, 62%, 26%); // photography text
$dark_moderate_cyan: hsl(168, 34%, 41%); // footer
// neutral colors
$very_dark_desaturated_blue: hsl(212, 27%, 19%);
$very_dark_grayish_blue: hsl(213, 9%, 39%);
$dark_grayish_blue: hsl(232, 10%, 55%);
$grayish_blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
// Typography
// font-family
$ff_barlow: "Barlow", sans-serif;
$ff_fraunces: "Fraunces", sans-serif;
// font-weight
$fw_semiBold: 600;
$fw_bold: 700;
$fw_black: 900;
// font-size
$fs_bodyCopy: 1.8rem;
// Breakpoints
$mobile: 640px;
$tablet: 768px;
$xl_tablet: 960px;
$desktop: 1024px;
// RESET
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 62.5% of 16px browser font size is 10px */
}

html,
body {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
}
/*
a {
  text-decoration: none;
  &:visited,
  :focus {
    text-decoration: none;
    color: $dark_grayish_blue;
  }
  &:hover {
    color: $soft_red;
  }
}
*/
// STYLES
body {
  font-family: $ff_barlow;
  font-size: $fs_bodyCopy;
  background-color: $white;
  display: grid;
  grid-template-rows: 800px repeat(3, 1fr);
}

h1,
h2,
h3,
a,
figcaption {
  font-family: $ff_fraunces;
  color: $very_dark_desaturated_blue;
}

header,
section {
  border: solid gray 2px;
  margin-bottom: 5px;
  width: 100%;
}

.egg,
.cup {
  width: 100%;
  border: solid pink 2px;
  margin-bottom: 5px;
}

.footerbanner {
  width: 100%;
  border: solid black 2px;
}

header {
  border-color: blue;
}

main {
  border: solid red 2px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 600px);
}

.testimonials {
  // This item will start on row 2 and column 1, and span 1 rows and 2 columns:
  grid-area: 4 / 1 / span 1 / span 2;
}

footer {
  border: solid green 2px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 795px repeat(2, 1fr);
}
